/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&display=swap');

/** TailwindCSS **/
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Main Style **/
@layer base {

  html {
    /** adding "via" doesn't work for some reason when it comes to the background... **/
    @apply overflow-hidden bg-gradient-to-t from-purple-500 from-10% to-pink-500 to-90% h-full bg-auto bg-no-repeat;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    @apply h-full font-light text-base p-2 bg-gradient-to-tl from-transparent from-20% to-blue-500;
  }

  /** Body Elements **/

  h1, h2 {
    @apply font-bold text-6xl tracking-tighter leading-none;
  }

  hr {
    border-color: #404040;
    @apply mb-2;
  }

  table {
    @apply table-auto border-separate w-full text-left;
  }

  th {
    @apply font-bold;
  }

  p {
    @apply py-2;
  }

  /** Hyperlinks (Main) **/

  .main a {
    transition: color 0.75s;
    @apply no-underline text-purple-300;
  }

  .main a:hover {
    @apply text-pink-300;
  }

  .main p a {
    @apply italic;
  }

  .main p b a {
    font-style: normal;
    @apply font-bold;
  }

  /** Bold / Italic (Main) **/

  .main b {
    @apply font-bold;
  }

  .main i {
    @apply italic;
  }

  /** Hyperlinks (Navigation) **/

  .navigation {
    @apply bg-transparent p-4 text-center;
  }

  .navigation a {
    transition: background-color 0.75s;
    @apply text-center text-lg text-white font-bold p-3 m-1 rounded-lg;
  }

  .navigation a:hover {
    @apply bg-black;
  }

  /** Custom Classes **/

  .max-w-50 {
    max-width: 50%;
  }

  .max-w-30 {
    max-width: 30%;
  }

  .segment {
    padding-right: min(16px, 15%);
    padding-left: min(16px, 15%);
    @apply m-6 py-4 text-white;
  }

  .dark-segment {
    background-color: #101010;
    @apply segment rounded-lg;
  }

  /** Page Transitions **/

  .fade-in {
    animation: 0.5s fade-in forwards;
    @apply ease-in;
  }

  .fade-out {
    animation: 0.5s fade-out forwards;
    @apply ease-out;
  }

  @keyframes fade-out {
    from {
      @apply opacity-100 blur-none;
    }
    to {
      @apply opacity-0 blur-sm;
    }
  }

  @keyframes fade-in {
    from {
      @apply opacity-0 blur-sm;
    }
    to {
      @apply opacity-100 blur-none;
    }
  }

}