/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&display=swap');

/** TailwindCSS **/
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Main Style **/
@layer base {

  html {
    /** adding "via" doesn't work for some reason when it comes to the background... **/
    @apply overflow-hidden;
    @apply bg-gradient-to-t from-purple-500 from-10% to-pink-500 to-90%;
    @apply h-full bg-auto bg-no-repeat;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    @apply h-full w-full;
    @apply font-light text-base;
    @apply bg-gradient-to-tl from-transparent from-20% to-blue-500;
  }

  /** Body Elements **/

  h1, h2 {
    @apply font-bold text-6xl tracking-tighter leading-none;
  }

  hr {
    border-color: #404040;
    @apply mb-2;
  }

  table {
    @apply table-auto border-separate w-full text-left;
  }

  th {
    @apply font-bold;
  }

  p {
    @apply py-2;
  }

  /** Hyperlinks (Main) **/

  .main a {
    transition: color 0.75s, text-shadow 0.7s;
    text-shadow: 0px 0px 0px #101010;
    @apply no-underline text-purple-300;
  }

  .main a:hover {
    text-shadow: 0px 0px 8px #f472b6;
    @apply text-pink-300;
  }

  .main p a {
    @apply italic;
  }

  .main p b a {
    font-style: normal;
    @apply font-bold;
  }

  /** Bold / Italic (Main) **/

  b {
    @apply font-bold;
  }

  i {
    @apply italic;
  }

  /** Hyperlinks (Navigation) **/

  .navigation {
    background-color: #101010;
    @apply text-center p-4;
  }

  nav {
    @apply p-1;
  }

  nav a {
    transition: text-shadow 0.75s;
    text-shadow: 0px 0px 0px #101010;
    @apply p-3 text-center text-lg text-white font-bold tracking-tight;
  }

  nav a:hover {
    text-shadow: 0px 0px 16px #4c1d95;
  }

  /** Custom Classes **/

  .segment {
    @apply m-4 p-4 text-white;
  }

  .container {
    @apply flex flex-wrap;

    /**
     * This fixes the problem of the container width not expanding to the entire possible width,
     * making any grid elements awkwardly placed. This is due to the @media (min-width ...) tags
     * in the generated "main_style.css" file, which set max-widths to certain px widths depending
     * on the given min-width.
     */
    @apply min-w-full;
  }

  .container > div {
    background-color: #101010;
    @apply grow basis-96;
    @apply segment rounded-lg;
  }

  /** Page Transitions **/

  .fade-in {
    animation: 0.25s fade-in forwards;
    @apply ease-in;
  }

  .fade-out {
    animation: 0.25s fade-out forwards;
    @apply ease-out;
  }

  @keyframes fade-out {
    from {
      @apply in;
    }
    to {
      @apply out;
    }
  }

  @keyframes fade-in {
    from {
      @apply out;
    }
    to {
      @apply in;
    }
  }

  /** Done to make changes to the page transitions much easier to pull off **/

  .in {
    transform: translate(0rem, 0rem);
    @apply opacity-100 blur-none;
  }

  .out {
    transform: translate(0rem, -1rem);
    @apply opacity-0 blur-sm;
  }

}